<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Slider con Vue</title>
</head>
<body>
    
    <div id="app" class="container">
        <div class="slider-wrapper">
            <div class="prev" @click="prevPicture">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="images">
                <img :src="picture[pictureIndex]">
            </div>
            <div class="next" @click="nextPicture">
                <i class="fas fa-angle-right"></i>
            </div>
            <div class="nav">
              <i v-for="(picture, index) in picture" class="fas fa-circle" :class="[('fas fa-circle', index) == pictureIndex ? 'active' : null]" @click="changePictureCircle(index)"></i>
            </div>
        </div>
    </div>

    <!-- v-for="(picture, index) in picture" per stampare tanti pallini quante sono le immagini line25-->
    <!-- con la creazione della classe più l'operatore ternario evidenzio solo il pallino corrispodente all'immagine selezionata line25 -->

    <script src="js/script.js"></script>

</body>
</html>